.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 150px;
}
@media(max-width: 500px){
  .info {
    margin-top: 50px;
    margin-bottom: 24px;
  }
}
.credits {
  /*width: 340px;*/
  width: calc(25% + 5px);
  margin-top: 122px;
  position: relative;
  padding-top: 14px;
}
.credits p {
  font-size: 18px;
  line-height: 23px;
}
.credits .person {
  font-family: 'SuisseBPSerif', serif;
}


.credits::before {
  content: '';
  position: absolute;
  border-top: 1px solid black;
  width: 40px;
  top: 0;
  left: 0;
}
.designers {
  margin-top: 24px;
}

@media(max-width: 500px){
  .credits{
    width: 100%;
    order: 2;
    margin-top: 26px;
    padding-top: 20px;
  }
  .credits p {
    font-size: 12px;
    line-height: 14px;
  }
  .designers {
    margin-top: 18px;
  }
}
.description {
  width: calc(100% - 25% - 5px);
}
.description h3{
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 50px;
  font-family: 'SuisseBPSerif', serif;
  font-weight: normal;
}
.description p {
  font-size: 21px;
  max-width: 800px;
  font-family: 'SuisseBPSerif', serif;
}
@media(max-width: 500px){
  .description{
    width: 100%;
  }
  .description h3 {
    font-size: 36px;
    line-height: 43px;
  }
  .description p {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }
}

.project-images {
  display: block;
  margin-bottom: 20px;
}
.next-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/*.next-area > img{
  margin-bottom: 200px;
}*/
.next > img {
  width: 87px;
  height: 69px;
  position: absolute;
  bottom: 10%;
  left: 100%;
}
.next{
  /*margin-left: 340px;*/
  position: relative;
  margin-left: calc(25% + 5px);
  margin-top: 130px;
  margin-bottom: 200px;
  padding-right: 50px;
}
.next p {
  font-size: 24px;
  margin: 0 0 25px 0;
}
.next >  h3 {
  font-size: 72px;
  margin-bottom: 0px;
  font-family: 'SuisseBPSerif', serif;
  font-weight: normal;
}
.hero-image {
  margin-top: 200px;
}
.hero-image, .project-images {
  width: 100%;
}
@media(max-width: 500px){
  .next-area {
    margin-bottom: 20px;
  }
  .next {
    margin-left: 0;
    /*width: 100%;*/
    margin-top: 28px;
    padding-right: 25px;
  }
  .next p {
    font-size: 16px;
    line-height:19px;
    margin: 0;
  }
  .next > h3 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }
  .next > img{
    width: 34px;
    height: 27px;
    margin-bottom: 10px;
  }
  .hero-image {
    margin-top: 75px;
  }
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  margin-bottom: 20px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
