.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 104px;
  margin-bottom: 80px;
}
@media(max-width: 500px){
  .info {
    margin-top: 50px;
    margin-bottom: 24px;
  }
}
.credits {
  width: 340px;
  margin-top: 113px;
  position: relative;
  padding-top: 14px;
}
.credits p {
  font-size: 18px;
  line-height: 23px;
}
.credits .person {
  font-family: 'SuisseBPSerif', serif;
}


.credits::before {
  content: '';
  position: absolute;
  border-top: 1px solid black;
  width: 40px;
  top: 0;
  left: 0;
}
.designers {
  margin-top: 24px;
}

@media(max-width: 500px){
  .credits{
    width: 100%;
    order: 2;
    margin-top: 26px;
    padding-top: 20px;
  }
  .credits p {
    font-size: 12px;
    line-height: 14px;
  }
  .designers {
    margin-top: 18px;
  }
}
.description {
  width: calc(100% - 340px);
}
.description h3{
  font-size: 96px;
  line-height: 112px;
  margin-bottom: 16px;
  font-family: 'SuisseBPSerif', serif;
  font-weight: normal;
}
.description p {
  font-size: 24px;
  width: 800px;
  font-family: 'SuisseBPSerif', serif;
}
@media(max-width: 500px){
  .description{
    width: 100%;
  }
  .description h3 {
    font-size: 36px;
    line-height: 43px;
  }
  .description p {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
  }
}
.next-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.next-area > img{
  width: 87px;
  height: 69px;
  margin-bottom: 52px;
}
.next{
  margin-left: 340px;
  margin-top: 105px;
  width: 920px;
}
.next p {
  font-size: 24px;
  margin: 0 0 12px 0;
}
.next >  h3 {
  font-size: 96px;
  margin-bottom: 27px;
  font-family: 'SuisseBPSerif', serif;
  font-weight: normal;
}
@media(max-width: 500px){
  .next-area {
    margin-bottom: 20px;
  }
  .next {
    margin-left: 0;
    width: 100%;
    margin-top: 28px;
  }
  .next p {
    font-size: 16px;
    line-height:19px;
    margin: 0;
  }
  .next > h3 {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }
  .next-area > img{
    width: 34px;
    height: 27px;
    margin-bottom: 10px;
  }
  .hero-image {
    margin-top: 75px;
  }
}
