.wrapper-grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
div.image.individual {
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 40px 40px 0;
}
div.image.individual.vertical {
	height: 500px;
}
div.image.individual.horizontal {
	width: 500px;
}
div.image.individual.big {
	height: 500px;
	width: 500px;
}
p.blog-content {
    font-size: 18px;
}
div.image.individual > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
