.wrapper-grid {
	display: flex;
	flex-wrap: wrap;
  margin: 0 -10px;
}
@media(max-width: 500px){
	.wrapper-grid{
		margin-bottom: calc(114px - 6px - 30px)
	}
}
.subtext {
	color: #B4B4B4;
	/*padding-top: 9px;*/
}
.select-projects {
	/*margin-left: 340px;*/
	margin-left: calc(25% + 5px);
	font-size: 21px;
	margin-bottom: 20px;
}
.index-page {
	margin-bottom: 500px;
}
@media(max-width: 500px){
	.select-projects{
		margin-left:0;
		font-size: 16px;
		margin-bottom: 16px;
	}
}
.project-tile {
	width: calc(25% - 20px);
	margin: 0 10px 125px 10px;
}
@media(max-width: 950px){
	.project-tile {
		width: calc(50% - 20px);
	}
}
@media(max-width: 500px){
	.project-tile {
		width: 100%;
		margin: 0 9px 30px 11px;
	}
	.about-page .project-tile{
		border-top: 1px solid black;
		padding-top: 12px;
	}
}
.project-tile p {
	margin: 0px 0;
	font-size: 21px;
	transition: 0.3s;
	/*line-height: 29px;*/
}
@media(max-width: 500px){
	.project-tile p {
		font-size: 16px;
		margin: 0 0 0px 0;
		line-height: 19px;

	}
}
.project-tile-image {
	position: relative;
	background: black;
	width: 100%;
	margin-bottom: 20px;
}
@media(max-width: 500px){
	.project-tile-image{
		position: initial;
		height: unset;
	}
}
.project-tile-image img {
	/*position: absolute;*/
	transition: 0.3s;
	display: block;
	width: 100%;
}
@media(max-width: 500px){
	.project-tile-image img{
		position: initial;
		width: 100%;
	}
}
.project-tile-image::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
  width: 100%;
	background: black;
	z-index: -1;
	transition: 0.3s;
}
@media(max-width: 500px){
	.project-tile-image::after{
		content: none;
	}
}
.project-tile:hover .project-tile-image::after{
	top: 10px;
	left: -10px;
}
.project-tile p.title{
	font-family: 'SuisseBPSerif', serif;
}
.project-tile:hover p.title{
	color: #0CE1B7;
}
@media(max-width: 500px){
	.project-tile p.title{
		margin-top: 12px;
	}
}
.about-page .about-description{
	/*margin-left: 340px; */
	background: white;
	margin-left: calc(25% + 5px);
	max-width: 800px;
	font-size: 21px;
	font-family: 'SuisseBPSerif', serif;
	line-height: 27px;
	margin-bottom: 150px;
}
.about-page > h1 {
	margin-bottom: 50px;
}
.about-page > .wrapper-grid {
	margin-bottom: 500px;
}
.cover-page > .wrapper-grid {
	margin-top:  150px;
	margin-bottom: 300px;
	padding: 0 10px;
}

.about-page .project-tile p:first-child {
 margin-bottom: 25px;
 font-family: 'SuisseBPIntl', sans-serif;
}
.about-page .project-tile p {
	font-family: 'SuisseBPSerif', serif;
}
@media(max-width: 500px){
	.about-page .about-description {
		display:none;
	}
	.about-page > h1 {
		margin-bottom: 58px;
	}
	.about-page .project-tile p:first-child {
		margin-bottom: 14px;
	}
}
.bold {
	font-weight: bold;
}
