nav {
	/* position: relative; */
	font-size: 21px;
	padding: 40px 0 39px 0;
	position: fixed;
	background-color: white;
	z-index: 100;
	width: 100%;
	/* margin: 0 auto; */
	top: 0;
}
.nav-wrapper {
	width: 1716px;
	position: relative;
	max-width: 90%;
}

.about {
	position: absolute;
	/*left: 340px;*/
	left: calc(25% + 5px);
}
.social {
	position: absolute;
	right: 0;
	text-align: right;
	display: inline;
}
.social p, .social a {
}
.social  ul {
	list-style: none;
	margin: 0;
	margin-top: 10px;
	text-align: right;
	cursor: pointer;
}
.social  ul  li {
	line-height: 21px;
}
.social-icon{
	display: inline-block;
}
@media(max-width: 500px){
	.social-icon.mobile-only{
		display: inline-block;
	}
}
.social-icon::before {
	  content: " ";
    width: 20px;
    height: 3px;
    background: black;
    display: block;
    margin-top: 6px;
    -webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
.ex.social-icon::before {
	transform: translate3d(0, 3px, 0) rotate(-45deg);
}
.ex.social-icon::after {
	transform: translate3d(0, -6px, 0) rotate(45deg);
}
.social-icon::after {
    content: " ";
    width: 20px;
    height: 3px;
    background: black;
    display: block;
    margin-top: 6px;
    -webkit-transition: all 0.3s;
		transition: all 0.3s;
}

@media (max-width: 500px){
	nav {
		padding: 20px 0 20px 0;
		font-size: 16px;
	}
	.nav-wrapper{
		max-width: 90%;
	}
	.about {
		display: none;
	}
	.social ul{
		width: 90vw;
    height: 100vh;
		background: white;
		font-size: 36px;
    line-height: 43px;
    text-align: left;
	}
	.social  ul  li {
		line-height: 42px;
	}
	.about-work {
		padding: 30px 0 58px 0;
	}
}
.hidden {
	display: none;
}
.close p {
	font-size: 21px;
}
.close img {
	margin-right: 20px;
}

@media(max-width: 500px){
	.close p {
		font-size: 16px;
	}
	.close img {
		margin-right: 10px;
	}
}

