footer {
	border-top: 1px solid black;
	padding-top: 18px;
	padding-bottom: 28px;
	font-size: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
@media(max-width: 500px){
	footer{
		padding-bottom: 20px;
	}
}
.contact {
	margin-bottom: 15px;
}
@media(max-width: 500px){
	.contact {
		margin-bottom: 22px;
	}
}
.address {
	margin-left: 340px;
}
.address p, .address a {
	font-family: 'SuisseBPSerif', serif;
}
.address p.contact {
	font-family: 'SuisseBPIntl', sans-serif;
}
@media(max-width: 500px){
	.address{
		margin-left: 0;
		width: 100%;
		margin-bottom: 50px;
	}
}
.copyright {
	text-align: right;
}
footer p {
	margin-bottom: 0px;
	font-size: 24px;
	line-height: 29px;
}
footer a {
	display: block;
	margin-bottom: 0px;
	line-height: 29px;
}
@media(max-width: 500px){
	footer p, footer a {
		font-size: 16px;
		margin-bottom: 0;
		line-height: 19px;
	}
	.copyright p {
		display: inline-block;
		margin-right: 4px;
	}
}
